<mat-toolbar color="primary" class="navbarClass">
  <span routerLink="dashboard" style="cursor: pointer"> </span>
  <span>
    <span> </span>
    <!-- <span>{{ currentDate | date : "HH:mm:ss" }}</span> -->
  </span>
  <!-- <a mat-button routerLink="dashboard">Services</a>
    <a mat-button routerLink="dashboard">Projects</a>
    <a mat-button routerLink="dashboard">About Us</a> -->
  <!-- <button mat-raised-button color="warn" class="px-3">Sign Out</button> -->
  <!-- <button mat-raised-button color="warn" class="mx-3">View Enquires</button> -->
</mat-toolbar>
