<mat-toolbar color="primary" class="navbarClass">
  <span routerLink="dashboard" style="cursor: pointer">
    <!-- {{ fullName }} -->
    FHL Admin
  </span>
  <span>
    <span>{{ currentDate | date : "medium" }}</span>
    <!-- <span>{{ currentDate | date : "HH:mm:ss" }}</span> -->
  </span>
  <!-- <a mat-button routerLink="dashboard">Services</a>
  <a mat-button routerLink="dashboard">Projects</a>
  <a mat-button routerLink="dashboard">About Us</a> -->
  <div>
    <button mat-raised-button color="warn" class="px-3" (click)="LogOut()">
      Sign Out
    </button>
    <button mat-raised-button color="warn" class="mx-3" routerLink="/list">
      View Enquires
    </button>
  </div>
</mat-toolbar>
